<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>

<body>
<label for="code_snippet"></label><textarea id="code_snippet" placeholder="Enter your code"></textarea>
<br>
<span>Time restriction: </span><label for="time_restriction"></label><input id="time_restriction" type="text" value="0">
<br>
<span>Views restriction: </span><label for="views_restriction"></label><input id="views_restriction" type="text" value="0">
<button id="send_snippet" type="submit" onclick="send()">Submit</button>
</body>

<script>
    function send() {
        let text = document.getElementById("code_snippet").value;
        if (text !== '') {
            let timeRestriction = parseInt(document.getElementById("time_restriction").value);
            if (isNaN(timeRestriction) || timeRestriction < 0) {
                timeRestriction = 0;
            }

            let viewsRestriction = parseInt(document.getElementById("views_restriction").value);
            if (isNaN(viewsRestriction) || viewsRestriction < 0) {
                viewsRestriction = 0;
            }

            let object = {
                "code": document.getElementById("code_snippet").value,
                "time": timeRestriction,
                "views": viewsRestriction
            };
            let json = JSON.stringify(object);
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/api/code/new', false)
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.send(json);
            if (xhr.status === 200) {
                alert("Success!");
                document.getElementById("code_snippet").value = '';
                document.getElementById("time_restriction").value = '0';
                document.getElementById("views_restriction").value = '0';
            }
        }
    }
</script>

</html>